[user]
	name = crbelaus
	email = cristian.alvb@gmail.com
[core]
	excludesfile = ~/.config/git/.global-gitignore
	editor = vim
[merge]
	ff = false
	conflictstyle = zdiff3
[branch]
	autosetuprebase = always
[pager]
	branch = false
[diff]
	algorithm = histogram
[protocol]
	version = 2
[init]
	defaultBranch = main
